<div class="searching-form">
  <form class="searching-form">
    <mat-form-field class="form-size" appearance="outline">
      <span matPrefix> </span>
      <input type="tel" matInput placeholder="Введите название книги или автора" name="search" [(ngModel)]="search">
      <button matSuffix mat-button (click)="find()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <br/>
  </form>
</div>

<div class="spinner-container" *ngIf="dataSource.loading | async">
  <mat-spinner></mat-spinner>
</div>

<mat-card class="author-list-card" *ngIf="dataSource.dataExist">
  <mat-table class="lessons-table book-table" multiTemplateDataRows [dataSource]="dataSource"
             matSort matSortActive="id"
             matSortDirection="asc"
             matSortDisableClear>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Название</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="authors">
      <mat-header-cell *matHeaderCellDef>Автор</mat-header-cell>
      <mat-cell *matCellDef="let book">{{getAuthorsString(book.authors)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef>Год</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.year}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="publisher">
      <mat-header-cell *matHeaderCellDef>Издательство</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.publisher}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
</mat-card>
