<div class="spinner-container" *ngIf="loading | async">
  <mat-spinner></mat-spinner>
</div>
<mat-card>
  <form autocomplete="off" *ngIf="formGroup" [formGroup]="formGroup" novalidate>
    <mat-form-field *ngIf="book.id">
      <input type="number" matInput formControlName="id" placeholder="ID" readonly/>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="name" placeholder="Название"/>
<!--      <mat-error *ngIf="formGroup.controls['name'].invalid && !formGroup.controls['name'].touched">-->
<!--        Обязательно для заполнения-->
<!--      </mat-error>-->
    </mat-form-field>

<!--    TODO добавить автора нормально -->
<!--    <mat-form-field>-->
<!--      <input matInput formControlName="author" placeholder="Название"/>-->
<!--      <mat-error *ngIf="formGroup.controls['name'].invalid && !formGroup.controls['name'].touched">-->
<!--        Обязательно для заполнения-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

      <mat-form-field>
        <input type="number" matInput formControlName="year" placeholder="Год"/>
      </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="description" placeholder="Описание"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="publisher" placeholder="Описание"/>
    </mat-form-field>

<!--    TODO add copies, genre-->

    <div class="btn-toolbar justify-content-sm-between" role="toolbar">
      <div class="btn-group">
        <button mat-raised-button class="btn btn-sm btn-primary" [disabled]="!formGroup.valid" (click)="save(formGroup.value)">Сохранить
        </button>
      </div>
      <div class="btn-group">
        <button mat-raised-button class="btn btn-sm btn-success" type="button"
                (click)="back()">Назад
        </button>
      </div>
    </div>
  </form>
</mat-card>
