<div class="spinner-container" *ngIf="loading | async">
  <mat-spinner></mat-spinner>
</div>


<mat-card class="content-card">
  <mat-card-title class="edit-title"> Добавление новой книги</mat-card-title>
  <div>
    <form [formGroup]="formGroup" class="display-form">
      <mat-form-field *ngIf="bookId">
        <mat-label>Идентификатор</mat-label>
        <input type="number" matInput formControlName="id" placeholder="ID" readonly>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Наименование книги</mat-label>
        <input matInput formControlName="name" placeholder="Название">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Год</mat-label>
        <input matInput formControlName="year" placeholder="Год">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Описание</mat-label>
        <textarea matInput formControlName="description" placeholder="Описание"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Издатель</mat-label>
        <input matInput formControlName="publisher" placeholder="Издатель">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Авторы</mat-label>
        <mat-select formControlName="authors" multiple>
          <mat-option *ngFor="let author of authors"
                      [value]="author.id">{{author.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Жанры</mat-label>
        <mat-select formControlName="genreList" multiple>
          <mat-option *ngFor="let genre of genres"
                      [value]="genre.id">{{genre.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button class="btn btn-sm btn-primary copies-container"
                (click)="addBookCopy(null)">Добавить копию
        </button>
        <div class="copies-container"
             formArrayName="copies" *ngIf="getCopiesCount() > 0">
          <div *ngFor="let control of formGroup.controls['copies']['controls'];
                             let i = index">
            <div [formGroupName]="i" class="book-copy">
              <mat-form-field>
                <mat-label>ID</mat-label>
                <input [readonly]="true" matInput formControlName="id"/>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Системный ID</mat-label>
                <input matInput formControlName="systemId"/>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Статус</mat-label>
                <mat-select formControlName="status">
                  <mat-option *ngFor="let status of statuses"
                              [value]="status.id">{{status.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="btn-toolbar justify-content-sm-between edit-toolbar" role="toolbar">
    <button mat-raised-button class="btn btn-sm btn-primary" [disabled]="!formGroup.valid"
            (click)="save(formGroup.value)">Сохранить
    </button>
    <button mat-raised-button class="btn btn-sm btn-success" type="button"
            (click)="back()">Назад
    </button>
  </div>
</mat-card>
