<div class="row id-searching">
  <mat-form-field appearance="outline" class="id-searching-input">
<!-- TODO запретить ввод запятых/точек   /-->
    <input type="number" autocomplete="off" matInput placeholder="Поиск по ID" #input>
  </mat-form-field>
  <button mat-flat-button class="btn btn-sm btn-outline-secondary button-clear id-searching-button">
    Поиск
  </button>
</div>

<div class="spinner-container" *ngIf="datasource.loading | async">
  <mat-spinner></mat-spinner>
</div>

<mat-card class="book-list-card">
  <mat-table class="lessons-table book-table" multiTemplateDataRows [dataSource]="datasource"
             matSort matSortActive="id"
             matSortDirection="asc"
             matSortDisableClear>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Название</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="authors">
      <mat-header-cell *matHeaderCellDef>Автор</mat-header-cell>
      <mat-cell *matCellDef="let book">{{getAuthorsString(book.authors)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef>Год</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.year}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="publisher">
      <mat-header-cell *matHeaderCellDef>Издательство</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.publisher}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button
                title="Добавить" (click)="add()" >
          <i class="material-icons">add</i>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let book">
        <button mat-icon-button
                [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{book: book}"
                title="Действия">
          <i class="material-icons">more_vert</i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
</mat-card>


<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-aliasMenuItem="sensor">
    <button mat-menu-item (click)="edit(aliasMenuItem)">
      <mat-icon>edit</mat-icon>
      <span>Редактировать</span>
    </button>
    <button mat-menu-item (click)="delete(aliasMenuItem)">
      <mat-icon>delete</mat-icon>
      <span>Удалить</span>
    </button>
  </ng-template>
</mat-menu>
