.book-list-card{
  margin: 1%;
}
.mat-column-id {
  max-width: 10%
}

.mat-column-name {
  max-width: 20%;
}

.mat-column-author {
  max-width: 30%;
}

.mat-column-year {
  max-width: 10%;
}

.mat-column-publisher {
  max-width: 20%;
}

.mat-column-buttons {
  max-width: 10%;
}

.id-searching{
  max-height: 48px;
  margin: 1%;
}

.id-searching-button{
  height: 57px;
}

.id-searching-input{
}
