<mat-toolbar>
  <button mat-icon-button (click)="goToMain()">
    <img class="img" src="/assets/book4.png"/>
  </button>
  <span>БибОС</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="admin">
    <mat-icon>build</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #admin="matMenu">
  <button mat-menu-item (click)="goToRecourse()">
    <mat-icon>bookmark</mat-icon>
    <span>Ресурсы</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>

